[Unit]
Description=Calcio typha server

[Service]
ExecStart=/usr/bin/calico-typha
ExecStartPre=-/bin/mkdir -p /var/run/secrets/kubernetes.io/serviceaccount
Restart=on-failure
ProtectSystem=full
# It's like it runs in Kubernetes, except it doesn't...
# Systemd 233:
#BindReadOnlyPaths=/etc/calico/k8s,/var/run/secrets/kubernetes.io/serviceaccount
# Unfortunately, Stretch comes with 232
MountFlags=private
ExecStartPost=+/usr/bin/nsenter -t $MAINPID -m /bin/mount --bind /etc/calico/k8s /var/run/secrets/kubernetes.io/serviceaccount
Environment=KUBERNETES_SERVICE_HOST={{ kubernetes_ha_domain_intern }}
Environment=KUBERNETES_SERVICE_PORT=443
Environment=TYPHA_LOGSEVERITYSCREEN=info
Environment=USE_POD_CIDR=true
Environment=TYPHA_LOGFILEPATH=none
Environment=TYPHA_LOGSEVERITYSYS=none
Environment=TYPHA_DATASTORETYPE=kubernetes
Environment=TYPHA_HEALTHENABLED=false
Environment=TYPHA_PROMETHEUSMETRICSENABLED=true
Environment=TYPHA_PROMETHEUSMETRICSPORT=9093
Environment=TYPHA_CAFILE=/etc/calico/typha/ca.pem
Environment=TYPHA_CLIENTURISAN=spiffe://{{ kubernetes_ha_domain_intern }}/calico/typha
Environment=TYPHA_SERVERCERTFILE=/etc/calico/typha/server.cert
Environment=TYPHA_SERVERKEYFILE=/etc/calico/typha/server.key


[Install]
WantedBy=multi-user.target
